.App {
  font-family: sans-serif;
  text-align: center;
}

tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #8f9aa5;
}
table {
  background-color: #bde9ba;
}
