.App {
  font-family: sans-serif;
  text-align: center;
}

td {
  border: 6px solid black;
  border-collapse: collapse;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #8f9aa5;
}
table {
  background-color: crimson;
}
tr:nth-child(odd) {
  background-color : blueviolet
}
h1 {
  color :yellowgreen
}
